@use './variables' as variable;
@use './reset';
@use './mixins' as mixins;

/* Applique une bordure noire à tous les éléments `block` */
div,
section,
article,
aside,
header,
footer,
main,
nav,
img,
h1 {
  border: 1px solid black;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  max-width: 1200px;
  margin: 0 auto;

}


