@use './variables' as variable;
@use './reset';
@use './mixins' as mixins;

/* Applique une bordure noire à tous les éléments `block` */
div,
section,
article,
aside,
header,
footer,
main,
nav,
img,
h1 {
  border: 1px solid black;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  .main{
    margin: 1rem;
    padding-bottom: 1rem;
  }
}

.rentalCardContainer{
  @include mixins.flex-center(center, row, wrap);
  padding: 1rem 0;
  @media (min-width: variable.$md-breakpoint) {
    background-color: variable.$color-bg;
    border-radius: 10px;
  }
}

